RewriteEngine On

# If the requested path is not an existing file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# If there is a matching .html file, serve it
# /portfolio/sunshineapp -> /portfolio/sunshineapp.html
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+?)/?$ $1.html [L,QSA]